<ion-header>
  <ion-navbar>
    <ion-buttons left>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>
      Contact
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <p>
        <ion-list>
            <ion-item>
                <ion-label stacked>To</ion-label>
                <ion-input type="text" ng-model="mailto" value="adibahhanun@gmail.com"></ion-input>
              </ion-item>

              <ion-item>
                  <ion-label stacked>Subject</ion-label>
                  <ion-input type="text" ng-model="subject" value="MySkin Feedback/Complaint"></ion-input>
                </ion-item>

              <ion-item>
                <ion-label stacked>Name</ion-label>
                <ion-input type="text" ng-model="name"></ion-input>
              </ion-item>
            
              <ion-item>
                <ion-label stacked>Email</ion-label>
                <ion-input type="text" ng-model="email"></ion-input>
              </ion-item>
            
              <ion-item>
                  <ion-label stacked>Content</ion-label>
                  <ion-input type="text" ng-model="content"></ion-input>
              </ion-item>
            </ion-list>
     
<button ion-button full color="light" ng-click="sendMail();">Send Email</button></p>
</ion-content>
